:root {
    --nav-color: #425c75;
    --background-color: #2c3e50;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    background-color: var(--nav-color);
    width: 100%;
}

.ul-bar {
    display: flex;
    position: relative;
}

.ul-bar li {
    margin: 10px 7px 10px 7px;
}

.navbar {
    width: 100%;
}

.navbar .brand {
    position: relative;
    top: 20px;
    color: white;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

.ul-bar li {
    list-style: none;
    border: none;
}

li a {
    text-decoration: none;
    margin-left: 40px;
    padding: 30px 25px 44px 25px;
    color: white;
    font-size: 20px;
}

.nav {
    margin: 0 auto;
}

.ul-bar li a:hover {
    background-color: rgb(147, 190, 240);
}

.svg1 {
    position: relative;
    left: 100px;
    top: 63px;
}

h4 {
    position: relative;
    left: 68px;
    margin: 0;
    color: gainsboro;
}

.svg2 {
    position: relative;
    left: 250px;
    top: 63px;
}

.svg3 {
    position: relative;
    top: 63px;
    left: 385px;
}

.al-fatihah {
    height: 100px;
    width: 400px;
    position: absolute;
    top: 140px;
    left: 50px;
    background-color: var(--nav-color);
}

.alfatihah {
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.one {
    position: absolute;
    top: 25px;
    left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.the-opener {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 65px;
    left: 50px;
}

.alfatihah-arabic {
    color: white;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 280px;
}

.surah {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 150px);
    position: relative;
    top: 10px;
}

.al-baqarah {
    height: 100px;
    width: 400px;
    position: absolute;
    top: 140px;
    left: 500px;
    background-color: var(--nav-color);
}

.albaqarah {
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.two {
    position: absolute;
    top: 25px;
    left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.the-cow {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 65px;
    left: 50px;
}

.albaqarah-arabic {
    color: white;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 280px;
}

a {
    text-decoration: none;
}

.search-div {
    position: relative;
    top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--nav-color);
    border-radius: 5px;
}

input {
    outline: none;
    border-radius: 20px;
    background: none;
    border: none;
    margin: 3px;
    height: 25px;
    color: white;
    width: 240px;
    float: left;
    transition: 0.6s;
}

.search-btn {
    position: relative;
    color: white;
    top: 5px;
    float: right;
    transition: 0.4s;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    background-color: rgb(147, 190, 240);
    position: relative;
    top: -2px;
}

search-btn:hover {
    color: rgb(147, 190, 240);
}

.surah-search {
    border-right: solid 3px rgb(147, 190, 240);
}

.juza-search {
    border-right: solid 3px rgb(147, 190, 240);
}

.profile {
    position: absolute;
    top: 30px;
    right: 20px;
}

.profile-2 {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.pro-span {
    background-color: rgb(147, 190, 240);
    border-radius: 50%;
    color: white;
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    top: -20px;
    text-align: center;
}

.pro-span-2 {
    margin: 0 auto;
    background-color: rgb(147, 190, 240);
    border-radius: 50%;
    color: white;
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    position: relative;
    top: 10px;
}

.profile-2-div {
    background-color: var(--nav-color);
    color: white;
}

.information {
    padding: 20px;
    text-align: center;
    color: white;
    display: block;
    width: 100%;
}

.information h5 {
    color: rgb(147, 190, 240);
    background-color: var(--nav-color);
    padding: 15px;
    margin: 0;
    display: block;
    width: 100%;
    position: relative;
    right: 20px;
}

.information h4 {
    left: -20px;
    background-color: var(--nav-color);
    border: solid 1px rgb(147, 190, 240);
    width: 100%;
    margin: 0;
    display: block;
    width: 100%;
}

.commit {
    border-radius: 40%;
    background-color: var(--nav-color);
    width: 150px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.commit h3 {
    position: relative;
    top: 40px;
    color: white;
}

.svg-2 {
    position: relative;
    left: 670px;
    top: -10px;
}

.path-2 {
    position: relative;
    left: 500px;
    top: -40px;
}

.cont-hezb1 {
    height: 125px;
    width: 420px;
    position: absolute;
    top: 185px;
    left: 180px;
    background-color: #34495e;
}

.hezb1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    position: absolute;
    top: 20px;
    left: 40px;
}

.hezb1-arabic {
    color: white;
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 2px;
    position: absolute;
    top: 20px;
    left: 280px;
}

.range1 {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 72px;
    left: 15px;
}

.range2 {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 95px;
    left: 15px;
}

.range1-ar {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 72px;
    left: 280px;
}

.range2-ar {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 95px;
    left: 270px;
}

@media only screen and (max-width: 768px) {
    .svg-2 {
        position: relative;
        left: 220px;
    }
    .search-div {
        left: 10px;
    }
    .ul-bar li a {
        position: relative;
        right: 80px;
        margin: 5px;
        top: 12px;
        padding: 0px 15px 35px 15px;
    }
    .ul-bar li a:hover {
        background-color: transparent;
        font-weight: bold;
    }
    .navbar {
        width: 100%;
    }
    h4 {
        position: relative;
        top: 15px;
        left: -60px;
    }
    .navbar .brand {
        top: 2px;
    }
    .svg {
        display: none;
    }
    .al-fatihah {
        width: 500px;
        display: block;
        position: relative;
        left: -15px;
        top: 70px;
    }
    .al-baqarah {
        width: 500px;
        display: block;
        position: relative;
        top: 110px;
        left: -15px;
    }
    .surah {
        display: block;
    }
    .search-div {
        width: 300px;
        right: 50px;
    }
    input {
        width: 40px;
        margin: 4px;
    }
    .search-btn {
        left: 10px;
    }
    .information h4 {
        top: -4px;
    }
}

a {
    text-decoration: none;
}

.cont-juza1 {
    height: 125px;
    width: 420px;
    position: absolute;
    top: 185px;
    left: 180px;
    background-color: #34495e;
}

.juza1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    position: absolute;
    top: 20px;
    left: 40px;
}

.juza1-arabic {
    color: white;
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 2px;
    position: absolute;
    top: 20px;
    left: 280px;
}

.range1 {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 72px;
    left: 15px;
}

.range2 {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 95px;
    left: 15px;
}

.range1-ar {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 72px;
    left: 280px;
}

.range2-ar {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    top: 95px;
    left: 270px;
}