body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: Tahoma , Arial;
}

    /* part of "search for Ayat "*/
.searchImg{
    height: 450px;
    width: 650px;
    position: relative;
    bottom: 70px;
    left: 170px;
}
.searchAyatText{
    color: white;
    font-size: 70px;
    position: relative;
    left:800px;
    bottom: 500px;
}



    /* part of "Get Explanations "*/
.getExplanationsText{
    color: white;
    font-size: 70px;
    position: relative;
    left:800px;
    bottom: 600px;
    
}
.getExplanationsImg{
    height: 350px;
    width: 550px;
    position: relative;
    bottom: 180px;
    left: 170px;
}

        /* part of "transolations"*/

    .transolationsText{
        color: white;
        font-size: 70px;
        position: relative;
        left:800px;
        bottom: 600px;
        
    }
    .transolationsImg{
        height: 350px;
        width: 550px;
        position: relative;
        bottom: 180px;
        left: 170px;
    } 
    
    
            /* part of "transolations"*/

    .listenText{
        color: white;
        font-size: 70px;
        position: relative;
        left:800px;
        bottom: 600px;
        
    }
    .listenImg{
        height: 350px;
        width: 550px;
        position: relative;
        bottom: 180px;
        left: 170px;
    }