body {
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    color: white;
}

.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../prototype/quran_intro.png");
    background-attachment: fixed;
    background-position: center center;
    height: 600px;
}

.top {
    display: flex;
    border-bottom: 1px solid #707070;
}

.rounded-hr {
    position: absolute;
    top: 50px;
    width: 98%;
    background-color: white;
    height: .2px;
    border-radius: 20px;
    transition: top .8s linear;
}

.top .logo {
    top: -35px;
    position: absolute;
    left: 0;
}

.dropdown {
    display: none;
    position: relative;
    top: 4px;
    left: 5px;
}

.humborger-btn {
    position: absolute;
    right: 12px;
}

.humborger-div {
    display: none;
    position: absolute;
    right: 0;
    margin: 10px;
}

.rounded-after {
    top: 170px;
}

@media screen and (max-width:600px) {
    .text {
        display: none
    }
    .profile {
        display: none;
    }
    .humborger-div {
        display: block;
    }
    body {
        background-position: right;
    }
}

.drop-ul {
    list-style: none;
    background-color: black;
    border-radius: 10px;
}

.drop-ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    right: 12px;
    top: 10px;
}

.arrow {
    position: relative;
    top: 140px;
    left: 15px;
}

.top .text a {
    text-decoration: none;
    margin: 15px;
    color: white;
}

.text {
    margin: 15px;
    position: absolute;
    right: 0;
    margin-right: 40px;
}

.profile img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-top: 5px;
}

.main-text {
    font-family: sans-serif;
    position: relative;
    margin-top: 250px;
}

.p1 {
    margin-left: 15px;
    margin-bottom: 3px;
    font-size: 6vh;
}

.p2 {
    margin-left: 15px;
    margin-top: 3px;
    font-size: 4vh;
    font-style: unset;
    color: #9C9C9C;
}

.main-btn {
    color: #D1D1D1;
    font-family: sans-serif;
    margin-left: 15px;
    margin-top: 5px;
    border: 1px solid #707070;
    background-color: transparent;
    font-size: 3vh;
    position: relative;
    top: 30px;
}

.footer-text a {
    text-decoration: none;
    color: #D2D2D2;
}

.footer-text svg {
    width: 25px;
    height: 25px;
    position: relative;
    top: 10px;
}